<%= form_with(model: task, validate: true) do |form| %>
  <% if task.errors.any? %>
    <!--div class="errors">
      <h2><%= pluralize(task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
        <% task.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div-->
  <% end %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name, :required => true %>
  </div>

  <div>
    <%= form.label :description, style: "display: block" %>
    <%= form.text_area :description, :required => true %>
  </div>

  <div>
    <%= form.label :due_date, style: "display: block" %>
    <%= form.datetime_field :due_date, :required => true %>
  </div>

  <div>
    <%= form.label :status, style: "display: block" %>
    <%= form.select(:status, options_for_select([['Pending', false],['Completed', true]], {:selected => @task.status}), :prompt => "Select", :required => true)  %>
  </div>
  <div>
    <% @users = User.all %>
    <%= form.label "Assign To", style: "display: block" %>
    <%= collection_select "task", 
    "user_id",
    @users.collect { |t| [ t.id, User.full_name(t.first_name, t.last_name) ] },
    :first, 
    :last,  
    { :selected => @task.user_id, prompt: "Select a user", :required => true } %>
  </div>
  <div>
    <%= form.submit %>
  </div>
<% end %>
