<h1>Task Details: <%= task.name %></h1>
<div id="<%= dom_id task %>" class="details">
  <p>
    <strong>Name:</strong>
    <%= task.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= task.description %>
  </p>

  <p>
    <strong>Due Date:</strong>
    <%= task.due_date.strftime("%d-%b-%Y %I:%M %P") %>
  </p>
  <p>
    <strong>Assigned To:</strong>
    <%  user = User.find(task.user_id) %>
    <%= User.full_name(user.first_name.capitalize, user.last_name) %>
  </p>

  <p>
    <strong>Task Status:</strong>
    <%= Task.get_status_text(task.status) %>
  </p>

</div>
